[Desktop Entry]
Encoding=UTF-8
Comment=Session Control, Lock, Logout, Change
Name=SessionManager
Name[xx]=xxSessionManagerxx
Icon=fork
X-KDE-Library=usermanager_panelapplet
X-KDE-UniqueApplet = true
